:root {
    --clr-bg: #1d2d37;
    --clr-header: whitesmoke;
    --clr-text: white;
    --clr-footer: bisque; 
    --clr-shadow: #fff3;
    --clr-border: rgb(99, 132, 184);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header h1 {
    font-size: 3rem;
    color: var(--clr-header);
    letter-spacing: 0.3125rem;
    text-align: center;
    text-shadow: 0 0 10px var(--clr-shadow);

}

.recipe img {
    max-width: 100%;
    border: 0.3125rem solid var(--clr-border);
    border-radius: 10%;
    margin: 0 auto;
    transform: translateX(25%);
    box-shadow: 0px 2px 5px rgb(45, 61, 86);
}

.recipe h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-header);
    text-shadow: 0 0 5px var(--clr-shadow);
    letter-spacing: 0.15625rem;
}

.recipe p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 3rem;
    color: var(--clr-text);
    opacity: 40%;
}

.footer {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-footer);
    padding: 0.3rem;
}

.footer div {
    color: rgb(0, 0, 0, 80%);
    opacity: 90%;
}

.footer div a {
    text-decoration: none;
    color: red;
}

.footer div a:hover {
    color:midnightblue;
}

.footer div a:visited {
    color:darkmagenta;
}

/* xs */
@media (min-width: 475px) {}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {}

/* xL */
@media (min-width: 1280px) {}

/* 2xL */
@media (min-width: 1536px) {}
