html{
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #1d2d37;
}

header h1 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.3125rem;
    color: whitesmoke;
    text-shadow: 0 0 10px #fff3;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.recipe img {
    border: 0.3125rem solid rgb(99, 132, 184);
    border-radius: 10%;
    max-width: 100%;

}

.recipe h3 {
    text-align: center;
    font-size: 1.5rem;
    color: whitesmoke;
}

.recipe p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 3rem;
    color: white;
    opacity: 40%;
}
@media (width <= 474px) {
    .footer {
        width: 100%;
        margin-inline: auto;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
.footer div {
    opacity: 70%;
    color: rgb(255, 255, 255);
}

.footer div a {
    text-decoration: none;
    color:bisque;
}

.footer div a:hover {
    text-decoration: none;
    color:red;
}
.footer div a:visited {
    color:olive;
}

@media (min-width: 475px) {
    main {
        max-width: 475px;
    }
}
/* body{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    background-color: #1d2d37;
    background-image: radial-gradient(
        #fff3, transparent 50%
    );
    
}
header h1{
    font-size: 5rem;
    text-align: center;
    letter-spacing: 10px;
    color: whitesmoke;
    text-shadow: 0 0 10px #fff3;
}
.container {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
a img{
    width: 100%;
} */