:root {
    --clr-bg: #1d2d37;
    --clr-header: whitesmoke;
    --clr-text: rgba(255, 255, 255, 0.4);
    --clr-shadow: #fff3;
    --clr-border: rgb(99, 132, 184);
    --clr-rose: #e11d48;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header h1 {
    font-size: 2rem;
    color: var(--clr-header);
    letter-spacing: 0.3125rem;
    text-align: center;
    text-shadow: 0 0 10px var(--clr-shadow);
    margin-bottom:2rem;
}

header h1::before {
    position: absolute;
    left: 68%;
    bottom: 95%;
    width: 25px;
    height:25px;
    content: '';
    background-image: url(assets/leaves.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-25deg);
}

.recipe a {
    display: block;
    text-align: center;
}

.recipe img {
    max-width: 100%;
    width: 18.75rem;
    height: 18.75rem;
    border: 0.3125rem solid var(--clr-border);
    border-radius: 10%;
    margin: 0 auto;
    box-shadow: 0px 2px 5px rgb(45, 61, 86);
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-header);
    text-shadow: 0 0 5px var(--clr-shadow);
    letter-spacing: 0.15625rem;
}

p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 3rem;
    color: var(--clr-text);
    margin-inline: auto;
}

.footer {
    width: 90%;
    max-width: 1530px;
    height: 50px;
    margin-inline: auto;
    position: relative;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.item {
    font-size: 1.2rem;
    color: var(--clr-header);
    opacity: 85%;
}

.item a {
    text-decoration: none;
    color: var(--clr-rose);
}

.item a:hover {
    color:#6d28d9;
}

.item a:visited {
    color:#4d7c0f;
}

/* xs */
@media (min-width: 475px) {

    header h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }
    p {
        font-size: 1.35rem;
    }
}

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
@media (min-width: 768px) {

    header h1 {
        font-size: 3rem;
    }

    header h1::before {
        left: 63%;
        bottom: 93.5%;
        width: 35px;
        height:35px;
        transform: rotateY(-20deg);
    }

    .recipe {
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .recipe img {
        width: 18.75rem;
        border: 0.375rem solid var(--clr-border);
    }

    h3 {
        font-size: 1.8rem;
        text-align: left;
    }
    p {
        max-width: 45ch;
        font-size: 1.3rem;
        text-align: justify;
    }

    .footer {
        width: 90%;
        max-width: 1536px;
        margin-inline: auto;
        position: relative;
        height: 40px;
        overflow: hidden;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

     @keyframes scrollLeft {
        to {
            left: -111px; 
        }
    } 

    .item {
        position: absolute;
        left: 100%;
        animation-name: scrollLeft;
        animation-duration: 3.8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .item1 {
        animation-delay: -5s;
    }
    .item2 {
        animation-delay: -4.5s;
    }  
    .item3 {
        animation-delay: -4s;
    }
    .item4 {
        animation-delay: -3.7s;
    }
    .item5 {
        animation-delay: -3.2s;
    }
    .item6 {
        animation-delay: -2.8s;
    }

}

/* lg */
@media (min-width: 1024px) {

    body {
        background-image: radial-gradient(
            #fff3, transparent 50%
        );
    }

    header h1 {
        font-size: 4rem;
    }

    header h1::before {
        left: 63%;
        bottom: 91.5%;
        width: 45px;
        height:45px;
        transform: rotateY(-23deg);
    }

    main .container:first-child {
        display: flex;
        gap: 2rem;
        justify-content: space-around;
        margin-bottom: 10rem;
    }
    
    .recipe {
        display: flex;
        flex-direction: column;
        gap:3rem;
        align-items:center;
        justify-content: space-around;
        margin-bottom: 3rem;
        transition: transform 0.3s ease-in-out;
        transition: filter 0.25s ease-in-out;
    }  

    .recipe h3,
    .recipe p {
        z-index: 3;
        max-width: 30ch;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s ease-in-out;
    }

    h3 {
        font-size: 2rem;
        text-align: center;
    }
    p {
        font-size: 1.5rem;
    }

    .recipe:hover h3,
    .recipe:hover p  {
        visibility: visible;
        opacity: 1;
    }

    .recipe img {
        width: 20.3125rem;
        height: 20.3125rem;
    }

    .recipe:hover {
        transform: scale(1.05); /* Increases the size of the image container by 5% */
    } 

    .recipe:active {
        transform: scale(0.96);
    }

    .container:hover .recipe:not(:hover) {
        filter: grayscale(1) blur(5px);
    }

    .item {
        font-size: 1.5rem;
        animation-duration: 4.5s;
    }

    .item1 {
        animation-delay: -6s;
    }
    .item2 {
        animation-delay: -5.5s;
    }  
    .item3 {
        animation-delay: -5s;
    }
    .item4 {
        animation-delay: -4.6s;
    }
    .item5 {
        animation-delay: -4.2s;
    }
    .item6 {
        animation-delay: -3.7s;
    }
}

/* xL */
@media (min-width: 1280px) {

    header h1 {
        font-size: 5rem;
        margin-bottom: 5rem;
    }

    header h1::before {
        left: 63%;
        bottom: 89%;
        width: 60px;
        height:60px;
        transform: rotateY(-30deg);
    }

    .recipe img {
        width: 23rem;
        height: 23rem;
        border: 0.5rem solid var(--clr-border);
    }

    .item {
        font-size: 1.8rem;
        animation-duration: 5s;
    }

    .item1 {
        animation-delay: -6s;
    }
    .item2 {
        animation-delay: -5.5s;
    }  
    .item3 {
        animation-delay: -5s;
    }
    .item4 {
        animation-delay: -4.6s;
    }
    .item5 {
        animation-delay: -4.2s;
    }
    .item6 {
        animation-delay: -3.7s;
    }
}

/* 2xL */
@media (min-width: 1536px) {
    header h1::before {
        left: 59.5%;
        bottom: 89%;
        width: 60px;
        height:60px;
        transform: rotateY(-30deg);
    }
}